*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
}

header{
	background-image:linear-gradient(rgba(100,0,0,0.2),rgba(100,0,0,0.2)), url(background.jpg);
	height: 100vh;
	background-repeat:no-repeat;
	background-size: auto;
	background-position: relative;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 15px;
	margin-left: 70px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #0099FF;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
	font-weight:bold;
	font-size:1.55em;
	position:relative;
	
}
ul li a:hover{
	color: #e65928;
}

ul li a:active{
	color:#e65928;
}
.logo img{
	float: left;
	width: 180px;
	min-height: 120px;
	height:70px;
	margin-top: 20px;
	position:static;
	right:auto;
	max-width:100%;
	margin-left: 110px;

}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 20%;
	left:50%;
	transform: translate(-30%,-30%);
}
/*.title h1{
	color: #3BB9FF;
	margin-top: -30%;
	margin-left: -90%;
}*/
.para{	
	position: absolute;
	top: 30%;
	left:40%;
	transform: translate(-30%,-30%);
	color: white;
	font-size: 1.10em;
	display:inline-block;
}
.login{
	text-align:center;
	float: right;
	margin-right: -10%;
	position: absolute;
    bottom:50%;
	right:50%;
	top:50%;
	transform: translate(40%,40%);
	color: white;
    
}
nav{
	width:100%; height:20vh;
	background:white;
}
.resultTable thead{
	border-collapse:collapse;
	display:table;
	
}
/*.validation{
	width:300px;
	padding: 40px;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align:center;

}*/
.login input[type="Date"],.login input[type="button"], .login input[type='text']{
	border:0;
	margin: 5px auto;
	text-align:center;
	border: 2px solid #3498db;
	border-radius: 24px;
	transition: 0.25s;
	width:180px;
	padding:8px 5px;
}
	

.login input[type="button"]:hover{
	background: #0099FF;
	cursor:pointer;
}
/*.top {
    min-height: 30px;
    border-bottom: 1px solid #ebecf0;
    background-color: #fff;
	text-align: center;
	vertical-align: baseline;
	box-sizing:border-box;
}*/
 #btna td input{
	width: 180px;
	left:50px%;
	/*transform: translate(100%,15%);*/
	margin:5px auto;
	margin-left:-20px;

}
#res td input{
	width: 180px;
	border-radius: 24px;
	transform: translate(101%,-120%);
	margin-top: 3px;
	border: 2px solid #3498db;
	padding:8px 5px;
}
.login input[type="reset"]:hover{
	background: #0099FF;
	cursor:pointer;
}
	
table {
	float: left;
	margin-left:85px;
	color: black;
}

 

ul.socialIcons {
  padding: 0;
  text-align: right;
  margin-top:5px;
}

.socialIcons li {
  background-color: yellow;
  list-style: none;
  display: inline-block;
  margin: 4px;
  border-radius: 2em;
  overflow: hidden;
}

.socialIcons li a {
  display: block;
  padding: 0.5em;
  min-width: 1.28571429em;
  max-width: 1.28571429em;
  height: 1.28571429em;
  white-space: nowrap;
  line-height: 1.5em; 
  transition: 0.5s;
  text-decoration: none;
  font-family: arial;
  color: #fff;
  top:-15px;
  left:5px;
  
 
  
}

.socialIcons li i {
  margin-right: 0.5em;
}

.socialIcons li:hover a {
  max-width: 200px;
  padding-right: 1em;
}

.socialIcons .facebook {
  background-color: #3b5998;
  box-shadow: 0 0 16px #3b5998;
}

.socialIcons .twitter {
  background-color: #00aced;
  box-shadow: 0 0 16px #00aced;
}

.socialIcons .instagram {
  background-color: #cd486b;
  box-shadow: 0 0 16px #cd486b;
}

.socialIcons .pinterest {
  background-color: #c92228;
  box-shadow: 0 0 16px #c92228;
}

.socialIcons .steam {
  background-color: #666666;
  box-shadow: 0 0 16px #666666;
}
